-i https://pypi.org/simple/
appdirs==1.4.3
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
cssselect==1.1.0
dpath==1.4.2
fake-useragent==0.1.11
idna==2.8
lxml==4.4.1
numpy==1.17.3
pandas==0.23.4
parse==1.12.1
pyee==6.0.0
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.3
requests-html==0.9.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
sqlalchemy==1.2.15
tqdm==4.36.1
urllib3==1.24.2
w3lib==1.21.0
websockets==8.0.2
